/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 20, 2017, 11:51:43 AM
    Author     : dmoll
*/


.admin_edit { 
    background-color: #0000ff;
}

input[type='submit'] {
    color:#000000;
}

#avatar_admin {
    margin-left: 10em;
    margin-right: 10em;
}
