/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-image: url("img/background.jpg");
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
    position: relative;
}


/*
 * Header
 */

.masthead {
    /*background: rgba(100,120,120,.3);*/
}

.masthead .logo {
    width: 33%;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
        position: absolute;
        left: 30px;
        top: 5px;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
    width: 100%
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.content {
    width: 100%;
    display: inline-flex;
}

.profile {
    width: 300px;
    margin-right: 15px;
}

.avatar {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.premium {
    border: 2px gold solid;
    box-shadow: 0px 0px 10px yellow;
}

.games {
    width: 100%;
}

.games h2 {
    background: rgba(100, 230, 230, 0.2);
}

.games li {
    text-align: left;
}

.avatar-list {
    display: inline;
    overflow: scroll;
    width: 400px;
}

.box {
    padding: 2%;
    border: 1px solid #67aaff;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.2);
    box-shadow: inset 0 0 100px rgba(80,190,190,.5);
}

.box .action {
    margin: 10px;
    font-size: 1rem;
}

.actions {
    font-size: 2rem;
}

.action {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#admin {
    top: 10px;
    overflow: scroll;
    overflow-x: hidden;
    height: 700px;
}

#admin td{
    padding: 3px;
}


#dialog .avatar {
    margin: 10px;
}

#dialog .avatar:hover {
    box-shadow: 0px 0px 5px cyan;
}

.shop-list {
    display: inline-flex;
}

.shop-item {
    border: 1px solid #2e8ece ;
    box-shadow: 0px 0px 5px #000000;
    padding: 15px;
    margin: 0px 15px;
}

.shop-item img {
    width: 150px;
    margin: 15px;
}

.shop-link {
    text-shadow: 0px 0px 2px cyan;
}

.shop-link .active {
    text-shadow: 0px 0px 5px gold;
}

.lobby {
    position: relative;
    height: 700px;
}

#create-dialog {
    width: 300px;
    height: 500px;
}

.shop-action {
    background-color: #2e8ece;
    color: #9acfea;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.session-list{
    height: 100%;
}

.session-list ul li {
    font-size: 3rem;
    color: #9acfea;
    text-shadow: 0px 0px cyan;
}

canvas {
    border: 5px solid #2e8ece;
    box-shadow: 0px 0px #00CCFF;
    padding: 0px;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}
